/*definicja animacji*/
p {
    color: red;
    /* nazwa */
    animation-name: bouncing;
    /* trwanie */
    animation-duration: 2s;
    /* powtórzenia */
    animation-iteration-count: infinite;
    /* postęp animacji */
    animation-timing-function: ease-in;
}
@keyframes bouncing {
    0%, 100% {
        font-size: 12px;
    }
    50% {
        font-size: 20px;
    }
}